<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DS-{title}</title>
    <link rel="stylesheet" href="/frontend/css/slider.css">
</head>

<body>
    <div class="wrepper" id="slider" data-link="{link}" data-screen="{screen}" data-id="{id}">

        <div class="contSlider" v-if="!error && screen ===  'user' || screen ===  'nocontrol' || screen ===  'main' ">
            <div class="slide" :class="addClass(i)" v-touch:swipe.left="swipeLeft" v-touch:swipe.right="swipeRight"
                v-for="(img,i) in pictures" v-touch:swipe.bottom="fullScreenOn">
                <img v-if="(img.teg == 'img')" :src="img.link" alt="img">
                <video v-if="(img.teg == 'video')" :src="img.link" :ref="img.name">
                    <source :src="img.link">
                </video>
         

            </div>
        </div>
        <div v-if="!error && screen ===  'control'" class="control" v-touch:swipe.left="swipeLeft"
            v-touch:swipe.right="swipeRight" v-touch:swipe.bottom="fullScreenOn">
            <h1>The content for the page is in Control!</h1>
            <p>Scroll left or right to check.</p>
        </div>
        <div v-if="!error && screen ===  'scrol'" class="contScroll">
            <div class="slide" :class="addClass(i)" v-touch:swipe.left="swipeLeft" v-touch:swipe.right="swipeRight"
                v-for="(img,i) in pictures">
                <img v-if="(img.teg == 'img')" :src="img.link" alt="img" >
                <video v-if="(img.teg == 'video')" :src="img.link" :ref="img.name">
                    <source :src="img.link">
                </video>
            </div>
        </div>
        <h1 v-if="error">Page isn't found</h1>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/frontend/js/vue.js"></script>
    <script src="/frontend/js/touch-events.js"></script>
    <script src="/frontend/js/sliderVue.js"></script>

</body>

</html>
