<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DS-{title}</title>
    <link rel="stylesheet" href="/frontend/css/slider.css">
</head>

<body>
    <div class="wrepper" id="slider" data-link="{link}" data-screen="{screen}" data-id="{id}">

        <div class="contSlider" v-if="!error && screen ===  'multi' || screen ===  'nocontrol' ">

           <div class="multi" v-for="slider,i in sliders" >  

            <transition enter-active-class="sl-enter" leave-active-class="sl-leave" mode="out-in">

             <slider :pictures="slider.pictures" v-if="slider.show" :key = "slider.id" />

            </transition>

            </div>

        </div>

        <h1 v-if="error">Page isn't found</h1>
    </div>

    <script src="/socket.io/socket.io.js"></script>

    <script src="/frontend/js/vue.js"></script>

    <script src="/frontend/js/touch-events.js"></script>

    <script src="/frontend/js/sliderVueMulti.js"></script>

</body>

</html>