* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

@keyframes slide_right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  1% {
    transform: translateX(-100%);

    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide_left {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  1% {
    transform: translateX(100%);

    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.wrepper {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.wrepper > .slide {
  opacity: 0;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transition: opacity 0.1s 1s;
}

.wrepper > .slide > img {
  width: 100%;
  height: 100%;
}

.wrepper > .next {
  position: absolute;
  right: 30px;
  top: 48%;
  z-index: 100;
}

.wrepper > .next > img {
  width: 50px;
  height: 50px;
}

.wrepper > .back {
  position: absolute;
  left: 30px;
  top: 48%;
  z-index: 100;
}

.wrepper > .back > img {
  width: 60px;
  height: 60px;
}

.right {
  animation: slide_right 0.5s;
  opacity: 1 !important;
  z-index: 40 !important;
}

.left {
  animation: slide_left 0.5s;
  opacity: 1 !important;
  z-index: 40 !important;
}
.zIndex {
  z-index: 30 !important;
}
