* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes first {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes first {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes comeLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-99%);
            transform: translateX(-99%);
  }
  1% {
    opacity: 1;
    -webkit-transform: translateX(-99%);
            transform: translateX(-99%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes comeLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-99%);
            transform: translateX(-99%);
  }
  1% {
    opacity: 1;
    -webkit-transform: translateX(-99%);
            transform: translateX(-99%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes leaveLeft {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  99% {
    opacity: 1;
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
}

@keyframes leaveLeft {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  99% {
    opacity: 1;
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
}

@-webkit-keyframes comeRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
  1% {
    opacity: 1;
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes comeRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
  1% {
    opacity: 1;
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes leaveRight {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  99% {
    opacity: 1;
    -webkit-transform: translateX(-99%);
            transform: translateX(-99%);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(-99%);
            transform: translateX(-99%);
  }
}

@keyframes leaveRight {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  99% {
    opacity: 1;
    -webkit-transform: translateX(-99%);
            transform: translateX(-99%);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(-99%);
            transform: translateX(-99%);
  }
}

.wrepper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.wrepper > .slide {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: opacity 0.1s 1s;
  transition: opacity 0.1s 1s;
}

.wrepper > .slide > img {
  width: 100%;
  height: 100%;
}

.wrepper > .next {
  position: absolute;
  right: 30px;
  top: 48%;
  z-index: 100;
}

.wrepper > .next > img {
  width: 50px;
  height: 50px;
}

.wrepper > .back {
  position: absolute;
  left: 30px;
  top: 48%;
  z-index: 100;
}

.wrepper > .back > img {
  width: 60px;
  height: 60px;
}

.first {
  -webkit-animation: first 0 forwards;
          animation: first 0 forwards;
}

.comeLeft {
  -webkit-animation: comeLeft 0.9s linear forwards;
          animation: comeLeft 0.9s linear forwards;
}

.leaveLeft {
  -webkit-animation: leaveLeft 0.9s linear forwards;
          animation: leaveLeft 0.9s linear forwards;
}

.comeRight {
  -webkit-animation: comeRight 0.9s linear forwards;
          animation: comeRight 0.9s linear forwards;
}

.leaveRight {
  -webkit-animation: leaveRight 0.9s linear forwards;
          animation: leaveRight 0.9s linear forwards;
}
/*# sourceMappingURL=slider.css.map */