* {
  margin: 0;
  padding: 0;
}

$length: 99%;

[v-cloak] {
  display: block;
  padding: 50px 0;

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  &:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  & > div {
    display: none;
  }
}

body {
 // overflow: hidden;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

@keyframes first {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes comeLeft {
  from {
    opacity: 0;
    transform: translateX(-$length);
  }
  1% {
    opacity: 1;
    transform: translateX(-$length);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes leaveLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  99% {
    opacity: 1;
    transform: translateX($length);
  }
  to {
    opacity: 0;
    transform: translateX($length);
  }
}
@keyframes comeRight {
  from {
    opacity: 0;
    transform: translateX($length);
  }
  1% {
    opacity: 1;
    transform: translateX($length);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes leaveRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  99% {
    opacity: 1;
    transform: translateX(-$length);
  }
  to {
    opacity: 0;
    transform: translateX(-$length);
  }
}

.wrepper {
  width: 100%;
  height: 100%;
  display: flex;
  //position: relative;
  //overflow: hidden;
}

.scrol {
  overflow: auto;
}

.wrepper .contSlider {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.wrepper .control {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
}


.wrepper .contSlider > .slide {
  opacity: 0;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transition: opacity 0.1s 1s;
}

.wrepper .contSlider > .slide > img {
  width: 100%;
  height: 100%;
}
.wrepper .contSlider > .slide > video {
  width: 100%;
  height: 100%;
}

.wrepper .contSlider > .next {
  position: absolute;
  right: 30px;
  top: 48%;
  z-index: 100;
}

.wrepper .contSlider > .next > img {
  width: 50px;
  height: 50px;
}

.wrepper .contSlider > .back {
  position: absolute;
  left: 30px;
  top: 48%;
  z-index: 100;
}

.wrepper .contSlider > .back > img {
  width: 60px;
  height: 60px;
}

.first {
  animation: first 0 forwards;
}
.comeLeft {
  animation: comeLeft .5s linear forwards;
}
.leaveLeft {
  animation: leaveLeft .5s linear forwards;
}
.comeRight {
  animation: comeRight .5s linear forwards;
}
.leaveRight {
  animation: leaveRight .5s linear forwards;
}
