* {
  margin: 0;
  padding: 0;
}

/* [v-cloak] {
  display: block;
  padding: 50px 0;

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  &:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  & > div {
    display: none;
  }
} */
body {
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes first {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes first {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes comeLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-99%);
            transform: translateX(-99%);
  }
  1% {
    opacity: 1;
    -webkit-transform: translateX(-99%);
            transform: translateX(-99%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes comeLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-99%);
            transform: translateX(-99%);
  }
  1% {
    opacity: 1;
    -webkit-transform: translateX(-99%);
            transform: translateX(-99%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes leaveLeft {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  99% {
    opacity: 1;
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
}

@keyframes leaveLeft {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  99% {
    opacity: 1;
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
}

@-webkit-keyframes comeRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
  1% {
    opacity: 1;
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes comeRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
  1% {
    opacity: 1;
    -webkit-transform: translateX(99%);
            transform: translateX(99%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes leaveRight {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  99% {
    opacity: 1;
    -webkit-transform: translateX(-99%);
            transform: translateX(-99%);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(-99%);
            transform: translateX(-99%);
  }
}

@keyframes leaveRight {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  99% {
    opacity: 1;
    -webkit-transform: translateX(-99%);
            transform: translateX(-99%);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(-99%);
            transform: translateX(-99%);
  }
}

.wrepper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scrol {
  overflow: auto;
}

.wrepper .contSlider {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.wrepper .contScroll {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow-x: hidden;
}

.wrepper .control {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
}

.wrepper .contSlider > .slide {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: opacity 0.1s 1s;
  transition: opacity 0.1s 1s;
}

.wrepper .contScroll > .slide {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: opacity 0.1s 1s;
  transition: opacity 0.1s 1s;
}

.wrepper .contSlider > .slide > img {
  width: 100%;
  height: 100%;
}

.wrepper .contScroll > .slide > img {
  width: 100%;
  height: auto;
}

.wrepper .contSlider > .slide > video {
  width: 100%;
  height: 100%;
}

.wrepper .contSlider > .next {
  position: absolute;
  right: 30px;
  top: 48%;
  z-index: 100;
}

.wrepper .contSlider > .next > img {
  width: 50px;
  height: 50px;
}

.wrepper .contSlider > .back {
  position: absolute;
  left: 30px;
  top: 48%;
  z-index: 100;
}

.wrepper .contSlider > .back > img {
  width: 60px;
  height: 60px;
}

.first {
  -webkit-animation: first 0 forwards;
          animation: first 0 forwards;
}

.comeLeft {
  -webkit-animation: comeLeft 0.5s linear forwards;
          animation: comeLeft 0.5s linear forwards;
}

.leaveLeft {
  -webkit-animation: leaveLeft 0.5s linear forwards;
          animation: leaveLeft 0.5s linear forwards;
}

.comeRight {
  -webkit-animation: comeRight 0.5s linear forwards;
          animation: comeRight 0.5s linear forwards;
}

.leaveRight {
  -webkit-animation: leaveRight 0.5s linear forwards;
          animation: leaveRight 0.5s linear forwards;
}

.multi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.slideMulti {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: opacity 0.1s 1s;
  transition: opacity 0.1s 1s;
  overflow: hidden;
}

.slideMulti > img {
  width: 100%;
  height: 100%;
}

.oneOfMulti {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes leave {
  from {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
}

@keyframes leave {
  from {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
}

@-webkit-keyframes enter {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes enter {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.price {
  margin: 0;
}

.sl-leave {
  -webkit-animation: leave 0.3s linear forwards;
          animation: leave 0.3s linear forwards;
}

.sl-enter {
  -webkit-animation: enter 0.3s linear forwards;
          animation: enter 0.3s linear forwards;
}
/*# sourceMappingURL=slider.css.map */